<div class="contairner_card-grande">
  <div class="card-grande_foto">
    <img src="https://img.freepik.com/vetores-premium/emoji-de-cara-de-nerd-emoticon-inteligente-com-oculos-geek-ou-estudante_3482-1193.jpg?w=2000"
    alt=""
    height="329px"
    srcset="">
  </div>

    <div class="card-grande_titulo">
      <h1><a href="">
         Noticia no Blog
      </a>
      </h1>
  </div>

  <div class="card-grande_descricao">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse elementum molestie pellentesque. Pellentesque vehicula aliquet orci non pellentesque.
    </p>

  </div>
</div>
