.container_menu-titulo {
  color: white;
  margin-top: -60px;

}

.container_menu-titulo > h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 150px;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: "segoe UI";
}

.container_menu-titulo > hr {
  margin-top: 40px;
  margin-bottom: 10px;
}

hr {
  color: #1a1818bd;
}
